.cabecalho {
    font-family: "Oxanium", cursive;
    background-image: url('imagens/bg.jpg');
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 1%;
    

}

.logo {
    max-width: 150px;
}

.menu ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    list-style: none;
    padding: 0;
    display: flex;
    font-size: x-large;
}


.menu li {
    margin-right: 20px;
}


.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative; /* Permite posicionar a linha relativa a este elemento */
}

.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Altura da linha */
    bottom: -3px; /* Posiciona a linha abaixo do texto */
    left: 0;
    background-color: transparent; /* Cor inicial da linha (pode ser transparente) */
    transition: background-color 0.3s ease; /* Animação da mudança de cor */
}

.menu a:hover::after {
    background-color: rgb(161, 22, 22);

}

.banner-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}


.banner {
  
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4%;

}


.rodape {
    background-image: url('imagens/bg.jpg');
    color: #ffffff;
    text-align: center;
    padding: auto;
    margin-left: 70px;
    margin-right: 70px;

}

.principal {
    font-family: 'Oxanium', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 37.9%;
    max-width: 50%;
    margin: 0 auto; 
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: background-color 0.3s ease, color 0.3s ease;
 
    
}

.principal:hover {
    background-color: #e5e5e5; /* Mudança de cor mais clara ao passar o mouse */
    color: #222; /* Mudança de cor do texto mais escura ao passar o mouse */
}

.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    
}

.benefits img {
  
    width: 100%;
    max-width: 70%;
    height: auto; 
    margin-bottom: 2%; 
    border-radius: 4%;
   
}







